.header {
    background-color: $red;
    margin-bottom: 50px;
    .header__wrapper {
        padding: 5px 0px;
        width: 100%;
        margin: 0 auto;
        max-width: 1200px;
        display: grid; // grid container를 정의한다. 그리드를 사용하기위해 컨테이너에 필수로 작성한다.
        grid-template-columns: repeat(3, 1fr); // 3컬럼 그리드 템플릿, 1fr: 남는 자유 공간의 1/3만큼의 크기를 할당한다.
        align-items: center;
        .header__column {
            i { // 아이콘
                color: white;
                font-size: 30px;
            }
            &:nth-child(2) { // header__column에서 두번째 요소 = input창
                width: 100%;
                justify-self: center; // 안에있는 요소를 가운데 정렬
            }
            &:last-child { // navigator
                justify-self: end; // 오른쪽 정렬
            }
            ul {
                display: flex; // 수평으로 뉘여진다.
                color: white;
                font-weight: 600;
                text-transform: uppercase;
                li:not(:last-child) {
                    margin-right: 15px;
                }
            }
            form {
                width: 100%;
                input {
                    padding: 7px 10px;
                    width: 100%;
                    border-radius: 5px; // 둥글게
                    font-size: 14px;
                    color: $black;
                    font-weight: 600;
                    max-width: none;
                    &::placeholder { // placeholder속성을 가진 모든것들을 선택한다.
                        font-weight: 300;
                        color: rgba(0, 0, 0, 0.7);
                    }
                }
            }
        }
    }
}